<article class="post">
  <header>
    <span>@<%= post.user.username %></span>
    <small><%= link_to post.created_at.to_formatted_s(:clean), post %></small>
  </header>
  <main>
    <%= markdown post.content %>
  </main>
</article>