.app {
  display: flex;
  flex-direction: column;
  height: 100vh;

  & > nav {
    padding: 1rem;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & > main {
    flex: 1;
    overflow: auto;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    & > article {
      padding: 1rem;
    }

    & > header {
      padding: 1rem;
      border-bottom: 1px solid var(--border-color);
    }

    & > * {
      max-width: 800px;
    }
  }
}

.post-box textarea {
  font-size: 16px;
}

.empty-state {
  padding: 2rem 1rem;
  color: var(--gray);
  text-align: center;
}

/* Medium screens and larger */
@media (min-width: 768px) {
  .app {
    flex-direction: row;

    & > nav {
      width: 200px;
      height: 100%;
      border-right: 1px solid var(--border-color);
      border-bottom: none;
      flex-direction: column;
      align-items: flex-start;
      flex: 1;
      max-width: 400px;
    }

    & > main {
      margin: 0 auto;
    }

    & > aside {
      flex: 1;
      border-left: 1px solid var(--border-color);
    }
  }
}
